### Importação das bibliotecas utilizadas

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
from sklearn.model_selection import train_test_split

In [21]:
from sklearn.metrics import mean_squared_error

In [24]:
from sklearn.ensemble import RandomForestRegressor

### Tratamento do dataset de treino

In [3]:
dados_treino = pd.read_csv('train.csv')

In [4]:
dados_treino.dropna(axis=0, inplace = True)

In [5]:
dados_treino.describe()

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,64.000000,64.0,6.400000e+01,64.000000,64.000000,64.000000,64.000000,64.0,6.400000e+01,64.000000,...,64.000000,64.000000,64.000000,64.000000,64.000000,64.00000,64.000000,64.000000,64.000000,64.000000
mean,2355.171875,2016.0,3.133240e+06,31.187500,22.312500,0.140625,2.156250,1.0,3.125411e+06,31.125000,...,4.625000,3.828125,4.812500,4.750000,3.343750,4.68750,4.218750,3.546875,4.578125,3.656250
std,1210.981912,0.0,9.123791e+05,9.109345,7.322232,0.350382,1.057381,0.0,8.755184e+05,8.740528,...,0.863731,1.714131,0.467177,0.755929,1.747731,0.63932,1.265773,1.468502,0.956261,1.844931
min,199.000000,2016.0,1.200401e+06,12.000000,18.000000,0.000000,0.000000,1.0,1.100122e+06,11.000000,...,1.000000,0.000000,3.000000,0.000000,0.000000,3.00000,0.000000,0.000000,0.000000,0.000000
25%,1428.750000,2016.0,2.384479e+06,23.750000,18.000000,0.000000,1.000000,1.0,2.482656e+06,24.750000,...,5.000000,3.000000,5.000000,5.000000,2.000000,5.00000,4.000000,2.750000,5.000000,2.750000
50%,2331.000000,2016.0,3.154555e+06,31.000000,19.000000,0.000000,2.000000,1.0,3.145653e+06,31.000000,...,5.000000,5.000000,5.000000,5.000000,4.000000,5.00000,5.000000,4.000000,5.000000,5.000000
75%,3208.250000,2016.0,3.529979e+06,35.000000,21.250000,0.000000,3.000000,1.0,3.531552e+06,35.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000
max,4415.000000,2016.0,5.300108e+06,53.000000,50.000000,1.000000,5.000000,1.0,5.300108e+06,53.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000

In [6]:
dados_treino.drop(columns = ['Unnamed: 0','NU_ANO', 'CO_UF_RESIDENCIA', 'CO_MUNICIPIO_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO','NU_IDADE', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO', 'CO_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'Q041', 'Q040', 'Q039', 'Q038', 'Q038', 'Q037','IN_TREINEIRO', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036'], inplace = True)

In [7]:
dados_treino.drop(columns = ['IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'Q005', 'Q029', 'Q030', 'Q031','IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_SABATISTA','IN_GESTANTE','IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO', 'CO_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CH', 'TP_STATUS_REDACAO', 'TP_LINGUA', 'NU_NOTA_LC', 'NU_NOTA_REDACAO', 'NU_NOTA_COMP1', 'IN_MEDICAMENTOS'], inplace = True)

Esse drop foi feito usando a correlação, vendo todas as que estavam disponiveis na variavel corre['NU_NOTA_MT'], feito para limpar e dar mais visibilidade a dados que tem maior correlação com a variavel a ser prevista.
Por se tratar de um dataset com muitas colunas, o trabalho de retirada de colunas que não são significativas para o problema foi totalmente baseado na correlação.

In [8]:
corre = dados_treino.corr()

In [9]:
corre['NU_NOTA_MT']

NU_NOTA_CN       0.329452
NU_NOTA_MT       1.000000
NU_NOTA_COMP2    0.251297
NU_NOTA_COMP3    0.318566
NU_NOTA_COMP4    0.245999
NU_NOTA_COMP5    0.330225
Name: NU_NOTA_MT, dtype: float64

In [10]:
treino = dados_treino[['NU_NOTA_CN', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_MT']]

In [11]:
X = treino[['NU_NOTA_CN', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5']]
y = treino['NU_NOTA_MT']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [13]:
X_train.shape

(44, 5)

In [14]:
y_train.shape

(44,)

In [15]:
X_test.shape

(20, 5)

In [17]:
y_test.shape

(20,)

### Começa a predição e realizar as medições dos dois modelos regressores

In [16]:
reg = LinearRegression()

In [18]:
reg.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred = reg.predict(X_test)

In [23]:
mean_squared_error(y_pred, y_test, squared=False)

71.40445296504265

Comparação de modelos de regressão

In [25]:
forest = RandomForestRegressor()

In [26]:
forest.fit(X_train,y_train)

RandomForestRegressor()

In [27]:
y_predf = forest.predict(X_test)

In [29]:
mean_squared_error(y_predf, y_test, squared = False)

82.1786971749288

### Realização de predição do dataset de 'dados reais'

In [30]:
dados_teste = pd.read_csv('test.csv')

In [32]:
dados_teste

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b,41,PR,17,F,1,1,2,0,2,...,40.0,500.0,E,E,D,A,B,A,NaN,A
4572,a75fa8770257e7c9368d059fe53d9ef431f4bdef,35,SP,17,M,2,1,2,0,2,...,100.0,520.0,C,C,C,A,A,A,NaN,A
4573,655fa6306720ff16e825903b5422a46608a77545,35,SP,19,M,1,1,1,2,1,...,80.0,640.0,D,F,D,B,B,A,NaN,D
4574,1f4bc3e3d56212d500625bfe8ac78ccff4362293,52,GO,17,M,2,2,3,0,1,...,80.0,520.0,C,E,C,A,A,A,NaN,A
4575,adf0d15b54317b6564ef56dad2b775bbb0ef50cc,33,RJ,30,M,1,1,1,10,1,...,NaN,NaN,C,C,A,B,B,B,B,A

In [37]:
dados_teste.dropna(axis=0, inplace = True)

In [38]:
X = dados_teste[['NU_NOTA_CN', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5']]

In [58]:
pred = pd.DataFrame(forest.predict(X))
pred

              0
0    489.402000
1    438.865000
2    448.829000
3    450.814267
4    466.860000
..          ...
288  486.528667
289  479.520000
290  416.124000
291  456.512000
292  449.852000

[293 rows x 1 columns]

In [60]:
pred.rename(columns = {0: 'NU_NOTA_MT'}, inplace = True)

In [47]:
ins = pd.DataFrame(dados_teste['NU_INSCRICAO'])
ins.reset_index(drop = True, inplace = True)

In [61]:
dfs = [ins,pred]

In [62]:
df = pd.concat(dfs, axis = 1)
df

                                 NU_INSCRICAO  NU_NOTA_MT
0    043c544a2104aa8a9849f1a703a08d37a2f16839  489.402000
1    664f44258212a1f7e4086f2b4845d586c543fa3f  438.865000
2    78de1ee60b55766cc3eba4089e36c57139b66ebd  448.829000
3    7d39df837488ca3fa6e512fd9e20ec7753b4c36d  450.814267
4    dbaa6ee7502cbebb6f058fed5d2f960b19f451ac  466.860000
..                                        ...         ...
288  478a9061bab1a42882f5aa2cb59d0f5c5247fb1c  486.528667
289  ed3238736f06e16b43a5f917369acfe02eb0446e  479.520000
290  d441048d32e09849c74fcaed7ca1ef6d7fce35f9  416.124000
291  022b5863816f22ed5ed27c9ab648918dc471bd68  456.512000
292  c3fa7f85609c5ab50f3f5959950b12b0eb77f7b6  449.852000

[293 rows x 2 columns]

In [65]:
df.to_csv('aswer.csv',index = False, sep = ',')